/* NAVBAR */
.gradiente-navbar {
    background-image: linear-gradient(to right, #2776A4, #464BA4, #AC32C8);
}

.principal {
    margin-top: 100px;
    min-height: calc(100vh - 210px);
}

.img-carousel {
    height: calc(100vh - 250px);
}

.rodape {
    min-height: 110px;
}

.logosetif {
    text-align: center;
    background-color: white;
}

.nav-link-personalizado:hover {
    color: rgb(210, 205, 205) !important;
}

.parallax-sobre,
.parallax-localizacao,
.parallax-programacao {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-sobre {
    background-image: url("../imagens/imgIf.png");
    min-height: 100%;
}

.parallax-localizacao {
    background-image: url("../imagens/ifpr2.jpg");
    min-height: 100%;

}

.parallax-programacao {
    background-image: url("../imagens/ifpr4.jpg");
    min-height: 100%;
}

.frame-programacao {
    background-color: rgb(255, 255, 255, .7);
    height: 1000px;
    width: 500px;

}

#even3_session {
    width: 100%;
    margin-top: 15px;
    height: 500px;

}

.artigo {
    color: #183276 !important;
    border: solid #183276 1px !important;
}

.artigo:hover {
    background-color: #183276 !important;
    color: white !important;
    opacity: 0.9 !important;
}

.botao-anais {
    background-color: #183276 !important;
    color: white !important;
}

.botao-anais:hover {
    background-color: #A6B9EB !important;
    opacity: 0.9 !important;
}

.background-roxo {
    background-color: #464BA4;
}

.background-verde {
    background-color: #2EA75A
}

.card-topico {
    border: 2px solid #183276 !important;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    .parallax-sobre,
    .parallax-localizacao,
    .parallax-programacao {
        background-attachment: scroll;
    }
}