.logo_setif {
  width: 100%;
  max-width: 350px;
}

.botoes button {
  padding: 10px 50px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition: transform 0.3s ease;
}

.inscricao {
  background-color: #71c834;
  color: white;
  border-color: #74ce37;

}

.inscricao:hover {
  background-color: #74ce37;
  transform: translateY(-2px);
}

.saiba-mais {
  background-color: #f1f1f1;
  color: black;
  border-color: #f1eeee;
}

.saiba-mais:hover {
  background-color: #f1eeee;
  transform: translateY(-2px);
}


.card {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  margin-top: 0;
  font-size: 18px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  background-color: #ccc;
  height: 150px;
  margin-bottom: 10px;
}

.contagem-regressiva {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
}

#contador {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 10px;
  padding: 30px;
  margin: 10px 0;
  border: none;
  color: #000;
  background-color: transparent;
}


footer {
  background-color: #f2f2f2;
  color: #333;
  padding: 60px 20px 0px;
  border-top: 4px solid #71c834;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  text-align: left;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #71c834;
  border-bottom: 2px solid #71c834;
  padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
}

.footer-section ul {
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul a {
  color: #666;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-section ul a:hover {
  color: #71c834;
}


.parallax-programacao {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.frame-programacao {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  height: 700px;
  width: 100%;
  overflow-y: auto; 
}

#even3_session {
  width: 100%;
  margin-top: 15px;
  height: 500px;

}

.card-programacao {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.card h1 {
  color: white;
  font-weight: 300;
  font-size: 1.5rem; 
  margin: 0;
}

.bi-calendar {
  margin-left: 8px; 
}

.programacao-content {
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
}